body{
    width: 70%;
    margin: 0% auto;
    padding: 0%;
    border: 1px solid lightgray;
    background-color: #fff;
}
form input[type=submit]{
    background-color: rgb(30, 233, 30);
    border: 1px solid rgb(105, 229, 233);
    color: black;
    padding: 5px;
    border-radius: 3px;
    text-align: center;
    margin-left: auto;
    font-size: 20px;
}
form input[type=submit]:hover{
    background-color:#225522;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
}

#inputbasic{
    background-color:orange;
    padding: 5px;
    margin: 10px 0px;
}
#inputbasic:hover{
  box-shadow: 5px 0px 5px #444;
}
legend{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 40px;
}
#inputbasic input{
    width: 300px;
    height: 20px;
    padding-left: 20px;
    border-radius: 8px;
}
#inputbasic label{
    width: 200px;
    display: inline-block;
    padding: 15px 10px 0px 40px;
    font-weight: bold;
    font-size: 15px;
}
/*les icones dans les placeholder*/
.personne{
    background-image: url('png/personne.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 3px;
    background-position-y: 3px;
}
.mail{
    background-image: url('png/mail.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 3px;
    background-position-y: 3px;
}
.telephone{
    background-image: url('png/tel.png');
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: 3px;
    background-position-y: 3px;
}

/*deuxieme fieldset*/

#second{
    background-color:orange;
    padding-left: 50px;
    margin: 10px 0px;
    font-weight: bold;
}
#second:hover{
    box-shadow: 5px 0px 5px #444;
  }
#second input{
    border-radius: 8px;
}
#second select:hover{
    background-color: green;
    color: white;
}